:root{
    --green:#a2c52c;
    --midgrey:#6b6e73;
    --black: #1b1b1b;
    --darkgrey: #2a2b2f;
    --lightgrey: #e8e7e8;
}

.title {
    font-family: "Futura BT W01 Bold", "Helvetica Neue", "Helvetica", sans-serif;
    color: var(--black);
    text-align: center;
}

html {
    background: repeating-linear-gradient(
        45deg,
        var(--green),
        var(--green) 70px,
        var(--midgrey) 70px,
        var(--midgrey) 400px
    );
    min-height: 100%;
}

body, .list-group-item {
    background-color: var(--lightgrey);
}
